* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  font-size: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

section {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

button {
  width: 15rem;
  height: 6rem;
  font-size: inherit;
}

button:active {
  transform: scale(.95);
}

button:hover {
  opacity: .75;
}